@page
@model ServiceHost.Pages.SubGroups.PetrochemicalGroup.ilampetroModel
@{
    ViewData["Title"] = "شرکت پتروشیمی ایلام";
}


<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
		<ul>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/PetrochemicalGroup/ilampetro/slider-inner07-01.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/PetrochemicalGroup/ilampetro/logo07-01.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/PetrochemicalGroup/ilampetro/slider-inner07-02.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/PetrochemicalGroup/ilampetro/logo07-01.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
		</ul>
	</div>
</div>


<div class="container py-4">
	<div class="row pt-4 mt-5">
		<div class="col">
			<div class="row pt-2 clearfix">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="feature-box-icon">
							<i class="icon-calendar icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">تاریخ تاسیس</h4>
							<p class="mb-4">1384/06/07</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="feature-box-icon">
							<i class="icon-layers icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> نوع شرکت</h4>
							<p class="mb-4">سهامی عام</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-badge icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">حوزه فعالیت</h4>
							<p class="mb-4">  پتروشیمی  </p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-chart icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">‌سال مالی</h4>
							<p class="mb-4"> 12/29</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-info icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> شماره ثبت</h4>
							<p class="mb-4">253861</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-check icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> وضعیت</h4>
							<p class="mb-4"> فعال  </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section section-secondary border-0 py-0 m-0 appear-animation" data-appear-animation="fadeIn">
	<div class="container">
		<div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
			<div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
				<h2 class="font-weight-bold text-color-light text-7 mb-2 pb-1">تاریخچه شرکت	</h2>

				<p class="font-weight-light text-color-black text-2 mb-4 opacity-7">
					شرکت پتروشیمی ایلام به شناسه ملی 10102942739 به صورت سهامی خاص و طی شماره 25386 مورخ 07/06/1384 در اداره ثبت شرکت ها و موسسات غیر تجاری تهران به ثبت رسیده است. دارایی های شرکت در بدو تآسیس بر اساس مصوبه شماره 1105 هیات مدیره شرکت ملی صنایع پتروشیمی از محل واگذاری خالص دارایی های شرکت پتروشیمی بوشهر تحصیل گردیده است. در حال حاضر شرکت پتروشیمی ایلام جزء واحد های تجاری فرعی شرکت گروه پتروشیمی سرمایه گذاری ایرانیان(سهامی عام) و واحد تجاری نهایی گروه شرکت صنایع پتروشیمی خلیج فارس(سهامی عام) می باشد. مرکز شرکت واقع در تهران، بلوار آفریقا، ساختمان شماره 2 بازرگانی پتروشیمی و آدرس کارخانه واقع در ایلام،چوار،مجتمع پتروشیمی ایلام می باشد.
				</p>

			</div>
			<div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
				<img class="img-fluid box-shadow-3 my-2 border-radius" src="~/PICS/SubGroupSlides/PetrochemicalGroup/ilampetro/pic-inner33-01.jpg" alt="">
			</div>
		</div>
	</div>
</section>


<section class="parallax section section-height-5 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/PetrochemicalGroup/ilampetro/parallax-inner33-01.jpg">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">

				@*<h4 class="text-color-dark font-weight-normal text-6"><strong class="font-weight-extra-bold">گزارش هیئت مدیره در سال</strong> 1399</h4>*@

				@*<a href="~/PICS/SubGroupSlides/PetrochemicalGroup/ilampetro/JAMreport1399.pdf" class="btn btn-outline btn-primary font-weight-bold text-1 px-4 btn-py-2">دانلود گزارش</a>*@
			</div>
		</div>
	</div>
</section>



<section class="section section-height-4 bg-color-grey-scale-1 m-0 border-0">
	<div class="container container-lg">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 pr-lg-4">
				<div class="row text-left justify-content-end">
					<div class="col-lg-7 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
						<h4 class="text-10  font-weight-bold mb-2 mt-5">ماموریت</h4>

					</div>
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/PetrochemicalGroup/ilampetro/logo07-01.png" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-6 pl-lg-4">
				<div class="row">
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/PetrochemicalGroup/ilampetro/pic-inner33-02.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
					<div class="col-lg-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
						<h4 class="text-3 text-color-primary font-weight-bold mb-2 mt-5">موضوع فعالیت شرکت طبق ماده 3 اساسنامه عبارت است از:</h4>
						<p class="text-4 line-height-9">
							احداث،راه اندازی و بهره برداری کارخانجات صنعتی منظورتولید ، بازیابی، فروش، صدور محصولات پتروشیمی، ذخیره صادرات و تبدیل کلیه مواد پتروشیمیو پتروشیمیایی و فرآورده های فرعی و مشتقات ذیربط آنها استفاده از تسهیلات مالی بانک ها و موسسات اعتباری، انجام عملیات خدماتی،مالی،اعتباری(غیربانکی) و بازرگانی در خصوص موضوع شرکت و انجام کلیه عملیاتی که بطور مستقیم یا غیر مستقیم برای تحقق اهداف شرکا لازم و مفید بوده و یا در جهت اجرای موضوع شرکت با رعایت قوانین و مقررات مربوطه ضرورت دارد.
						</p>
						<p class="text-4 line-height-9">
							فعالیت اصلی شرکت در سال مورد گزارش صرفآ،تولید پلی اتیلن بوده که بر اساس پروانه بهره برداری شرکت که به شماره 11782/122 به تاریخ 05/08/1394 با ظرفیت سالانه 300.000 تن کالا از وزارت صنایع و معادن استان ایلام اخذ شده است و در حال انجام می باشد.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						ترکیب سهامداری
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									نام سهامدار
								</th>
								<th>
									تعداد سهام
								</th>
								<th>
									درصد سهامداری
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>گروه پتروشیمی سرمایه گذاری ایرانیان	</td>
								<td>8195131010	</td>
								<td>51</td>
							</tr>
							<tr>
								<td>سرمایه گذاری نفت و گاز و پتروشیمی تأمین	</td>
								<td>2721774347	</td>
								<td>	17</td>
							</tr>
							<tr>
								<td>سرمایه گذاری صندوق بازنشستگی کشوری</td>
								<td>2721774347</td>
								<td>17</td>
							</tr>
							<tr>
								<td>پتروشیمی مارون</td>
								<td>1081413925</td>
								<td>7</td>
							</tr>
							<tr>
								<td>بازرگانی پتروشیمی</td>
								<td>405265852</td>
								<td>1,58</td>
							</tr>
							<tr>
								<td>شرکت سرمایه گذاری آتیه صبا</td>
								<td>13180096</td>
								<td>4</td>
							</tr>
							<tr>
								<td>سایر</td>
								<td>864052131</td>
								<td>4</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>
<hr class="solid my-5">



<section class="parallax section section-height-3 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/PetrochemicalGroup/ilampetro/parallax-inner33-02.jpg">
	<div class="container py-2">

		<div class="row">
			<div class="col">

				<div class="row">
					<div class="col pb-3">
						<h4>محصولات و خدمات	</h4>

						<table class="table text-2 text-color-light">
							<thead>
								<tr>
									<th>
										گروه محصول
									</th>
									<th>
										واحد
									</th>
									<th>
										نام محصولات
									</th>
									<th>
										ظرفیت
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>الفین	</td>
									<td>تن	</td>
									<td>اتیلن </td>
									<td>458.700</td>
								</tr>

								<tr>
									<td>الفین	</td>
									<td>تن	</td>
									<td>پروپیلن </td>
									<td>106.500</td>
								</tr>

								<tr>
									<td>الفین	</td>
									<td>تن	</td>
									<td>بنزین پیرولیز </td>
									<td>133.800</td>
								</tr>

								<tr>
									<td>الفین	</td>
									<td>تن	</td>
									<td>سوخت مایع </td>
									<td>33.100</td>
								</tr>

								<tr>
									<td>الفین	</td>
									<td>تن	</td>
									<td>سوخت گاز </td>
									<td>201.100</td>
								</tr>
								<tr>
									<td>پلیمری	</td>
									<td>تن	</td>
									<td>پلی اتیلن سنگین </td>
									<td>300.000</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>

	</div>
</section>


<section class="section section-background section-scroll overlay overlay-show overlay-color-primary overlay-op-9 border-0 m-0" data-section-scroll-title="بخش 5" data-section-scroll-header-color="light" style="background-image: url(../../Pics/SubGroupSlides/PetrochemicalGroup/JAM/pp2.jpg); background-size: cover; background-position: center;">
	<div class="container h-100 py-5 py-md-0">
		<div class="row align-items-center h-100">
			<div class="col">
				<div class="row">
					<div class="col text-center">
						<div class="overflow-hidden mb-5">
							<h2 class=" font-weight-bold text-10 pb-2 mt-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200"> پروژه‌ها   </h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">

						<div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-light nav-style-2 mb-0" data-plugin-options="{'items': 1, 'margin': 100, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 100, 'autoHeight': true}">
							<div>
								<div class="testimonial testimonial-style-2 mb-0">
									<div class="testimonial-author">
										<p>
											<strong class="font-weight-extra-bold text-color-primary text-6">
												اجرای واحد SRU (گوگردزدایی) و فاز دوم پروژه الفین
											</strong>
										</p>
									</div>
									<blockquote>
										<p class="text-color-light text-3 line-height-9 mb-0">
											اجرای واحد SRU (گوگردزدایی) و فاز دوم پروژه الفین
										</p>
									</blockquote>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="solid my-5">

@*<div id="googlemaps" class="google-map mt-0" style="width:100%">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.059193342798!2d51.41139237629368!3d35.74934982622825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e073e8f8fd015%3A0x1e41fe6716d69694!2z2b7Yqtix2YjYtNuM2YXbjCDZgdmGINii2YjYsdin2YY!5e0!3m2!1sen!2sde!4v1689362098369!5m2!1sen!2sde" width="800" height="600"
			style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>*@

<div class="container">

	<div class="row py-4">
		<div class="col-12">

			<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<h4 class="mt-2 mb-1"><strong>اطلاعات</strong> تماس با شرکت پتروشیمی ایلام</h4>
				<ul class="list list-icons list-icons-style-2 mt-2">
					<li class="line-height-9">
						<i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">آدرس:</strong>
						استان ایلام، چوار، مجتمع پتروشیمی ایلام
					</li>
					<li class="line-height-9"><i class="fas fa-phone top-6"></i> <strong class="text-dark">تلفن:</strong> <span class="ltr-text">843-3360782</span></li>
					@*<li class="line-height-9"><i class="fas fa-envelope top-6"></i> <strong class="text-dark">ایمیل:</strong> <a href="mailto:info@fnpcc.com">info@fnpcc.com</a></li>*@
					<li class="line-height-9"><i class="fas fa-sitemap top-6"></i> <strong class="text-dark">وب سایت:</strong> <a href="www.ilampetro.com">www.ilampetro.com</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>
