@page
@model ServiceHost.Pages.AboutUsModel
@{

}

<section class="page-header page-header-classic page-header-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-12 order-2 order-md-1 align-self-center p-static mt-n1">
				<h1 data-title-border>درباره ما</h1>
			</div>
@*			<div class="col-md-4 order-1 order-md-2 align-self-center mb-1 mb-md-0">
				<ul class="breadcrumb d-block text-md-right">
					<li><a asp-page="/index">خانه</a></li>
					<li class="active">صفحات</li>
				</ul>
			</div>*@
		</div>
	</div>
</section>

<div class="container pb-1">

	<div class="row pt-4">
		<div class="col">
			<div class="overflow-hidden mb-3">
				<h2 class="word-rotator slide font-weight-bold text-7 text-sm-8 mb-0 appear-animation" data-appear-animation="maskUp">
					<span>شرکت سرمایه گذاری  </span>
					<span class="word-rotator-words bg-primary">
						<b class="is-visible">صندوق</b>
						<b>بازنشستگی</b>
						<b>کشوری</b>
						<b>(سهامی عام)</b>
					</span>
				</h2>
			</div>
		</div>
	</div>

	<div class="row mb-2">
		<div class="col-lg-12">
			<div class="overflow-hidden">

				<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">
					شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری به‌عنوان یکی از مهمترین زیرمجموعه‌های صندوق بازنشستگی کشوری در سال 1367 به ثبت رسید. به منظور افزایش بهره‏‌وری و بازدهی سرمایه، این شرکت از اواخر سال 1394 رسماً فعالیت کاری خود را روی موضوعات مرتبط با نفت، گاز، پتروشیمی و نیروگاهی متمرکز نمود تا با بهره‌گیری از ظرفیت‌های ویژه، نسبت به ایجاد ارزش افزوده بیشتر برای سهامداران خود اقدام نماید.

				</p>
			</div>
		</div>

	</div>
</div>
<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
	<div class="container py-4">

		<div class="row align-items-center">
			<div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
				<div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
					<div>
						<img alt="" class="img-fluid" src="~/MainWebSiteThem/img/generic/generic-corporate-3-2-full.jpg">
					</div>
					<div>
						<img alt="" class="img-fluid" src="~/MainWebSiteThem/img/generic/generic-corporate-3-3-full.jpg">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="overflow-hidden mb-2">
					<h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200"><strong class="font-weight-extra-bold">تاریخچه </strong> شرکت</h2>
				</div>
				<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
					در تاریخ 1367/04/25 شرکت سرمایه گذاری صندوق بازنشستگی مستخدمین مشمول قانون 
					استخدام کشوری در قالب شرکت سهامی خاص تحت شماره 70513 در اداره ثبت شرکت های تهران به
					ثبت رسید و در تاریخ 1378/03/26 با تصویب اساسنامه جدید توسط مجمع عمومی فوق العاده
					صاحبان محترم سهام، نام شرکت به شرکت سرمایه گذاری صندوق بازنشستگی کشوری (سهامی عام)
					تبدیل گردید و در تاریخ 1379/06/31 در سازمان بورس اوراق بهادار تهران پذیرفته شد.
				</p>
			</div>
		</div>

	</div>
</section>

<div class="row">
	<div class="col py-4">
		<hr class="solid">
	</div>
</div>

<div class="container">

	<div class="row mt-5 py-3">
		<div class="col-md-12">
			<div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
				<section class="toggle  mt-0">
					<a class="toggle-title">
						چشم‌انداز 
					</a>
					<div class="toggle-content">
						<p>
							پیشرو در بازدهی، چابک در تصمیم‌گیری، پایدار در سودآوری
						</p>
					</div>
				</section>

				<section class="toggle  mt-0">
					<a class="toggle-title">
						‌ماموریت
					</a>
					<div class="toggle-content">
						<p>
							حفظ و توسعه سرمایه‌گذاری‌های مولد و پایدار در راستای حداکثرسازی منافع ذینفعان
						</p>
					</div>
				</section>

				<section class="toggle  mt-0">
					<a class="toggle-title">
						‌ارزش های محوری
					</a>
					<div class="toggle-content">
						<p>
							شفافیت و صداقت
						</p>
						<p>
							مسئولیت‌پذیری و امانت‌داری
						</p>
						<p>
							دانش‌محوری و تخصص‌گرایی
						</p>
						<p>هم‌افزایی و مشارک</p>
					</div>
				</section>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col py-4">
			<hr class="solid">
		</div>
	</div>


	<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
		<div class="container py-4">

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="overflow-hidden mb-2">
						<h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp"
						data-appear-animation-delay="1200"><strong class="font-weight-extra-bold">زمینه </strong> فعالت</h2>
					</div>
					<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
						فعالیت شرکت سرمایه گذاری صندوق بازنشستگی کشوری (سهامی عام) طبق ماده (3) اساسنامه عبارت است از:
						سرمایه گذاری و مشارکت در شرکت‌ها، طرح‌ها،‌ واحدهای تولیدی و صنعتی،‌ خدماتی و بازرگانی و خرید و فروش سهام این‌گونه 
						شرکت‌ها و انجام عملیاتی که به‌صورت مستقیم و یا غیرمستقیم با فعالیت‌های مذکور ارتباط داشته باشد و یا اجرای آن‌ها
						را تسهیل نماید و نیز اداره آن قسمت از امـوال، مـوسسات و شرکت‌های مربـوط به تبصره 82 قانون بودجه سال 1362
						کل کشور و سایر اموال و مؤسسات و شرکت‌هایی که توسط صندوق بازنشستگی کشوری در اختیار این شرکت گذاشته می شود.
					</p>
				</div>
				<div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
					<div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
						<div>
							<img alt="" class="img-fluid" src="~/MainWebSiteThem/img/generic/generic-corporate-about-us-activities.jpg">
						</div>

					</div>
				</div>

			</div>

		</div>
	</section>

	<div class="row">
		<div class="col py-4">
			<hr class="solid">
		</div>
	</div>

	<div class="container pb-1">

		<div class="row pt-4">
			<div class="col">
				<div class="overflow-hidden mb-3">
					<h2 class="word-rotator slide font-weight-bold text-7 text-sm-8 mb-0 appear-animation" data-appear-animation="maskUp">
						<span>ترکیب   </span>
						<span class="word-rotator-words bg-primary">
							<b class="is-visible">سهامداران</b>
						</span>
					</h2>
				</div>
			</div>
		</div>

		<div class="row mb-2 justify-content-center align-items-center">
			<div class="col-lg-6">
				
				
				<div class="overflow-hidden">
					
					<canvas id="doughnut"></canvas>
				</div>
			
			</div>

		</div>
	</div>



</div>

<div class="row">
	<div class="col py-4">
		<hr class="solid">
	</div>
</div>

<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(../MainWebSiteThem/img/page-header/boardroom.png);">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-12 align-self-center p-static order-2 text-center">
				<h1 class="mb-n1 mt-1">اعضا <strong> هیئت</strong> مدیره </h1>
			</div>
		</div>
	</div>
</section>

<div class="container py-4">

	<div class="row">
		<div class="col-md-7 order-2">
			<div class="overflow-hidden">
				<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
					نام:  عبدالکریم پهلوانی
				</h2>
			</div>
			<div class="overflow-hidden mb-3">
				<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">
					سمت: رییس هیأت مدیره
				</p>
			</div>
			<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
				مدرک تحصیلی: دکتری
			</p>
			<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
				نام عضو حقوقی هیات مدیره: سرمایه‌گذاری آتیه‌صبا
			</p>
			<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">

		</div>
		<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
			<img src="~/MainWebSiteThem/img/team/BoardMember1.jpg" class="img-fluid" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<hr class="solid my-5">
		</div>
	</div>


	<div class="row">
		<div class="col-md-7 order-2">
			<div class="overflow-hidden">
				<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
					نام:  علیرضا زمان‌پور
				</h2>
			</div>
			<div class="overflow-hidden mb-3">
				<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">
					سمت:  مدیرعامل و نایب‌رئیس هیأت مدیره
				</p>
			</div>
			<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
				مدرک تحصیلی: دکتری
			</p>
			<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
				نام عضو حقوقی هیات مدیره: صندوق بازنشستگی کشوری
			</p>
			<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">

		</div>
		<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
			<img src="~/MainWebSiteThem/img/team/BoardMember2.jpg" class="img-fluid" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<hr class="solid my-5">
		</div>
	</div>


	<div class="row">
		<div class="col-md-7 order-2">
			<div class="overflow-hidden">
				<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
					نام:  سیدمحمد حسینی
				</h2>
			</div>
			<div class="overflow-hidden mb-3">
				<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">
					سمت: عضو هیأت مدیره
				</p>
			</div>
			<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
				مدرک تحصیلی: کارشناسی ارشد
			</p>
			<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
				نام عضو حقوقی هیات مدیره: بازرگانی صندوق بازنشستگی کشوری
			</p>
			<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">

		</div>
		<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
			<img src="~/MainWebSiteThem/img/team/BoardMember3.jpg" class="img-fluid" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<hr class="solid my-5">
		</div>
	</div>


	<div class="row">
		<div class="col-md-7 order-2">
			<div class="overflow-hidden">
				<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
					نام:  مهدی مهرداد
				</h2>
			</div>
			<div class="overflow-hidden mb-3">
				<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">
					سمت: عضو هیأت مدیره
				</p>
			</div>
			<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
				مدرک تحصیلی: دکتری
			</p>
			<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
				نام عضو حقوقی هیات مدیره: خدمات‌گستر صبا انرژی
			</p>
			<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">

		</div>
		<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
			<img src="~/MainWebSiteThem/img/team/BoardMember4.jpg" class="img-fluid" alt="">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<hr class="solid my-5">
		</div>
	</div>



	<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
		<div class="container-fluid">
			<div class="row align-items-center">

				<div class="col">
					<div class="row">
						<div class="col-md-12 align-self-center p-static order-2 text-center">
							<div class="overflow-hidden pb-1 mb-n1">
								<h1 class="text-dark font-weight-bold text-9 appear-animation mt-1 mb-n2" data-appear-animation="maskUp" data-appear-animation-delay="100">چارت سازمانی </h1>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<div class="container py-2">
			<div class="row portfolio-list sort-destination" data-sort-id="portfolio">
				<div class="col-lg-12 isotope-item brands">
					<div class="portfolio-item">
						
							<span class="thumb-info thumb-info-lighten border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
							<img src="~/MainWebSiteThem/img/projects/CompanyChart.jpg" class="img-fluid border-radius-0" alt="">

									<span class="thumb-info-action">
										<span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
									</span>
								</span>
							</span>
					</div>
				</div>
			</div>
	</div>

	<div class="container pt-5">

		<div class="row py-4 mb-2">
			<div class="col-md-7 order-2">
				<div class="overflow-hidden">
					<h2 class="text-color-dark font-weight-bold text-8 mb-1 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
						پیام مدیر عامل
					</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation text-3" data-appear-animation="maskUp" data-appear-animation-delay="500">
						بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم
					</p>
				</div>
				<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
					رَأسُ الاِسلامِ الامانهُ
				</p>
				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
					حضرت علی (ع)
				</p>
				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
					شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری، محل تجمیع امانت‌ها و ودایع بازنشستگان عزیز است، بخشی از دارایی عمومیِ غیردولتی از 34 سال پیش، به‌صورت امانت در اختیار مجموعه‌ وصندوق قرار داده شده تا با سرمایه‌گذاری مطمئن، حفظ و افزایش یابد و در آینده، با سود بیشتر به صاحبان اصلی بازگردانده شود. مدیریت شرکتی که دارایی آن مستقیما از درآمد ماهانه مردم تشکیل شده، بسیار خطیر و حساس است و اجر و عقوبت مضاعف دارد.
				</p>

				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
					در این مسیر، با بازطراحی و ارتقاء مداوم فرایندها، به عنوان یک نهاد مالی پیشرو در بازار سرمایه، برای خلق ارزش‌های ماندگار مالی و افزایش اعتماد فعالان بازار سرمایه تلاش می‌کنیم تا برند همیشه‌خوشنامِ وصندوق همچنان ترجیح نخست سرمایه‌گذاران بماند و با سرمایه‌گذاری‌های مطمئن و راه‌اندازی پروژه‌های خیره‌کننده و تحسین‌برانگیز، برای مردم عزیز ایران و به‌خصوص برای بازنشستگان عزیز، افتخار و تعلق و غرور بسازد.

				</p>

				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
					عَلَیْکُمْ بِالْجِدِّ وَ الِاجْتِهَادِ وَ التَّأَهُّبِ وَ الِاسْتِعْدَاد
				</p>

				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
					بر شما باد به تلاش و سخت‌کوشی و مهیا شدن و آماده شدن.
				</p>
				<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
					حضرت علی (ع)
				</p>
				<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
				<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">

				</div>
			</div>
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
				<img src="~/MainWebSiteThem/img/team/BossMessage.jpg" class="img-fluid mb-2" alt="">
			</div>
		</div>
	</div>
</div>
@section Scripts{
	

	<script>
		const circlechartDiv = document.getElementById("doughnut");
		const data = @Html.Raw(Json.Serialize(Model.ChartDataSet));
		const labels = @Html.Raw(Json.Serialize(Model.ChartLabelsDataSet));

		const circlechart = new Chart(circlechartDiv,
			{

				type: 'doughnut',
				data: {
					labels: labels["labels"],
					datasets: [data]
				},
				options: {
					elements: {
						bar: {
							borderWidth: 1
						}
					}
				}
			});

	
	</script>
}