@page
@model ServiceHost.Pages.AuditReportsModel
@{
    ViewData["Title"] = "گزارشات حسابرسی";
}


<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						گزارشات حسابرسی
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									عنوان
								</th>
								<th>
									حجم (MB)
								</th>
								<th>
									دانلود
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 29 اسفند ماه 1400 	</td>
								<td>  799 KB	</td>
								<td>
									<a href="~/Uploads/AuditReports/گزارش-حسابرس-29-اسفند-1400.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 30 اسفند ماه 1399 	</td>
								<td>   799 KB	</td>
								<td>
									<a href="~/Uploads/AuditReports/گزارش-حسابرس-29-اسفند-1399.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 29 اسفند ماه 1398	</td>
								<td>   799 KB	</td>
								<td>
									<a href="~/Uploads/AuditReports/گزارش-حسابرس-29-اسفند-98.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 29 اسفند ماه 1397	</td>
								<td>   189 KB	</td>
								<td>
									<a href="~/Uploads/AuditReports/گزارش-حسابرس-29-اسفند-97.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 30 اسفندماه 1396 	</td>
								<td>   1.82 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/h96.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 30 اسفندماه 1395 	</td>
								<td>  3.64 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/h-95.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>	گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1394 	</td>
								<td> 2.03 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/h-94-3-1.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1394 	</td>
								<td> 3.94 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/h-94-2.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1394 	</td>
								<td>  2.17 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/h94.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش حسابرس شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1393	</td>
								<td> 102 KB	</td>
								<td>
									<a href="~/Uploads/AuditReports/h93.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>