@page
@model ServiceHost.Pages.CertificatesModel
@{
}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
	<div class="container">
		<div class="row">

			<div class="col-md-12 align-self-center p-static order-2 text-center">
				<h1 class="text-dark font-weight-bold text-8">گواهینامه ها</h1>

			</div>


		</div>
	</div>
</section>


<div class="container">
	<div class="row py-5 my-5">
		<div class="col-md-12 order-2 order-md-1 text-center text-md-left appear-animation mt-4 mt-md-2" data-appear-animation="fadeInRightShorter">
			<div class="owl-carousel owl-theme nav-style-1 mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2},'1250': {'items': 3}, '1450': {'items': 3}}, 'margin': 25, 'loop': true, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 5000}">
				<div>
					<img class="img-fluid rounded-0 mb-3" src="../MainWebSiteThem/img/Certificates/wefdef.jpg" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">
						گواهینامه رتبه اعتباری بلندمدت پایا (-A)
					</h3>

				</div>
				<div>
					<img class="img-fluid rounded-0 mb-3" src="../MainWebSiteThem/img/Certificates/iran-yasa.png" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">
						ایران‌یاسا تایر و رابر، صادرکننده ممتاز 1400
					</h3>
			
				</div>
				<div>
					<img class="img-fluid rounded-0 mb-3" src="../MainWebSiteThem/img/Certificates/htrhrthtrhrh.jpg" alt="">
					<h3 class="font-weight-bold text-color-dark text-4 mb-0 primary-font">
						رتبه نخست رشد از نظر رشد بهره‌وری
					</h3>
			
				</div>

			</div>
		</div>

	</div>
</div>