@page
@model ServiceHost.Pages.FinancialStatementsModel
@{
    ViewData["Title"] = "صورت های مالی";
}


<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						صورت های مالی
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									عنوان
								</th>
								<th>
									حجم (MB)
								</th>
								<th>
									دانلود
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 29 اسفند 1400 	</td>
								<td> 4.73 MB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/s93.pdf" target="_blank" >
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;"width="40%;"/>
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 30 اسفند 1399 	</td>
								<td>  4.73 MB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/صورت-های-مالی-29-اسفند-1399.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
														<tr>
								<td>گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 29 اسفند 1398 	</td>
								<td>  4.73 MB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/صورت-های-مالی-29-اسفند-1398-1.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;"width="40%;"/>
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 29 اسفند 1397 	</td>
								<td>  983 KB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/صورت-های-مالی-29-اسفند-1397.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1396 	</td>
								<td>  127 KB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/s96.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1395  	</td>
								<td> 140 KB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/s-95.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>	گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1394 	</td>
								<td> 102 KB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/s-94.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش صورت مالی شرکت سرمایه گذاری صندوق بازنشستگی کشوری برای سال مالی منتهی به 31 شهریورماه 1393 	</td>
								<td> 102 KB	</td>
								<td>
									<a href="~/Uploads/FinancialStatements/s93.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>