@page
@model ServiceHost.Pages.ImageGalleriesModel
@{
}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
	<div class="container">
		<div class="row">

			<div class="col-md-12 align-self-center p-static order-2 text-center">
				<h1 class="text-dark font-weight-bold text-8">عکس ها</h1>

			</div>


		</div>
	</div>
</section>


<div class="container py-4">

	<div class="row">
		<div class="col">
			<div class="blog-posts">



				<article class="post post-large">
					<div class="post-image">
						<div class="owl-carousel owl-theme show-nav-hover dots-inside nav-inside nav-style-1 nav-light" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': true}">
							<div>
								<div class="img-thumbnail border-0 p-0 d-block">
									<img class="img-fluid border-radius-0" src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5478.jpg" alt="">
								</div>
							</div>
							<div>
								<div class="img-thumbnail border-0 p-0 d-block">
									<img class="img-fluid border-radius-0" src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5851-1.jpg" alt="">
								</div>
							</div>
							<div>
								<div class="img-thumbnail border-0 p-0 d-block">
									<img class="img-fluid border-radius-0" src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/IMG_0991-copy-1-1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>

					<div class="post-date mt-1">
						<span class="day">1401</span>
						<span class="month">دیماه</span>
					</div>

					<div class="post-content">

						<h2 class="font-weight-semibold text-6 mb-2 mt-n1 pb-1"><a asp-page="/ImageGalleries_Detailes">بازدید مدیرعامل عامل صندق بازنشستگی و مدیران وصندوق از شرکت‌‌های لوله‌سازی اهواز، فولاد اکسین خوزستان و پتروشیمی مسجدسلیمان</a></h2>

					</div>
				</article>












				<ul class="pagination float-right">
					<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
@*					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>*@
					<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
				</ul>

			</div>
		</div>

	</div>

</div>