@page
@model ServiceHost.Pages.ImageGalleries_DetailesModel
@{
}


<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
	<div class="container">
		<div class="row">

			<div class="col-md-12 align-self-center p-static order-2 text-center">
				<h1 class="text-dark font-weight-bold text-8">
					 بازدید مدیرعامل عامل صندق بازنشستگی و مدیران وصندوق از شرکت‌‌های لوله‌سازی اهواز، فولاد اکسین خوزستان و پتروشیمی مسجدسلیمان
				</h1>

			</div>


		</div>
	</div>
</section>

<div class="container py-4">

	<div class="row">
		<div class="col">
			<div class="blog-posts single-post">

				<article class="post post-large blog-single-post border-0 m-0 p-0">

					<div class="post-image ml-0">
						<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
							<div class="row mx-0">
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5478.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5478.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5559.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5559.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5733-1.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5733-1.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5771-1.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5771-1.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5830.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5830.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5835-2.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5835-2.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5845.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5845.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5851-1.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/gallery\بازدید-مدیرعامل-عامل-صندق-بازنشستگی/1S2A5851-1.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>

				</article>

			</div>
		</div>
	</div>

</div>