@page
@model ServiceHost.Pages.NewsDetails2Model
@{

}



<div class="container py-4">

	<div class="row">
		<div class="col">
			<div class="blog-posts">

				<article class="post post-large">
					<div class="post-image">
						<img src="../MainWebSiteThem/img/News/NewsHeader/jam-new-1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
					</div>

					<div class="post-date mt-1">
						<span class="day">17</span>
						<span class="month">مرداد</span>
						<span class="year">1402</span>
					</div>

					<div class="post-content">


						<p>
							جلسه بررسی عملکرد سه ماهه منتهی به خرداد 1402 شرکت پتروشیمی جم برگزار شد

							عملکرد سه ماهه منتهی به خرداد 1402 شرکت پتروشیمی جم طی نشستی با حضور اعضای هیئت مدیره و مدیران و معاونین هلدینگ صباانرژی و مدیران و معاونین شرکت جم در سالن کنفرانس شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری برگزار شد.

							به گزارش روابط عمومی شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری، در این نشست ابتدا گزارش مشروحی از عملکرد مالی سه ماهه اخیر شرکت ارائه شد. در ادامه ضمن بررسی موانع تولید، در مورد برنامه‌های آتی بحث و گفتگو شد.

							گفتنی است شرکت پتروشیمی جم از شرکت‌های تابعه شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری (هلدینگ صباانرژی) در حوزه پتروشیمی است.

						</p>
					</div>
				</article>


				<article class="post post-large">
					<div class="post-image">
						<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
							<div class="row mx-0">
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/NEWS/jam-new-1.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/NEWS/jam-new-1.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/NEWS/jam-new-2.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/NEWS/jam-new-2.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/NEWS/jam-new-3.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/NEWS/jam-new-3.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/NEWS/jam-new-4.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/NEWS/jam-new-4.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/NEWS/jam-new-5.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/NEWS/jam-new-5.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/NEWS/jam-new-3.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/NEWS/jam-new-3.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
	


							</div>
						</div>
					</div>

				</article>


			</div>
		</div>

	</div>

</div>