@page
@model ServiceHost.Pages.News_Details
@{
}




<div class="container py-4">

	<div class="row">
		<div class="col">
			<div class="blog-posts">

				<article class="post post-large">
					<div class="post-image">
							<img src="../MainWebSiteThem/img/News/NewsHeader/New-Project-2-5.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
					</div>

					<div class="post-date mt-1">
						<span class="day">04</span>
						<span class="month">مرداد</span>
						<span class="year">1402</span>
					</div>

					<div class="post-content">

@*						<h2 class="font-weight-semibold text-6 mb-2 mt-n1 pb-1"><a href="blog-post.html">
							این یک مطلب استاندارد با تصویر پیش نمایش است
						</a></h2>*@
						<p>
							امروز در آستانه تاسوعا و عاشورای حسینی، مراسم عزاداری ویژه کارکنان صندوق بازنشستگی کشوری، هلدینگ‌ها و شرکت‌های تابعه برگزار شد.


							به گزارش روابط عمومی شرکت سرمایه‌گذاری صندوق بازنشستگی کشوری؛ این مراسم با حضور کارکنان صندوق بازنشستگی، هلدینگ صباانرژی و دیگر هلدینگ‌ها و شرکت‌های تابعه در مسجد نور تهران برگزار شد.
						</p>
					</div>
				</article>



				<article class="post post-large">
					<div class="post-image">
						<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
							<div class="row mx-0">
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/News/New-Project-1-6.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/News/New-Project-1-6.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/News/New-Project-3-6.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/News/New-Project-3-6.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/News/New-Project-6-4.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/News/New-Project-6-4.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/News/New-Project-4-5.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/News/New-Project-4-5.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>

								<div class="col-6 col-md-4 p-0">
									<a href="../MainWebSiteThem/img/News/New-Project-2-5.jpg">
										<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
											<span class="thumb-info-wrapper">
												<img src="../MainWebSiteThem/img/News/New-Project-2-5.jpg" class="img-fluid" alt="">
												<span class="thumb-info-action">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>

				</article>


			</div>
		</div>

	</div>

</div>