@page
@model ServiceHost.Pages.ReportsOfTheBoardOfDirectorsModel
@{
    ViewData["Title"] = "گزارشات هیات مدیره";
}

<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						گزارشات هیات مدیره
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									عنوان
								</th>
								<th>
									حجم (MB)
								</th>
								<th>
									دانلود
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 29 اسفندماه 1400 	</td>
								<td>   1.83 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/گزارش-فعالیت-هیات-مدیره-29-اسفند-1400-1.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 30 اسفندماه 1399 	</td>
								<td>   1.83 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/گزارش-فعالیت-هیات-مدیره-29-اسفند-1399-1.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 29 اسفندماه 1398	</td>
								<td>    1.83 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/گزارش-فعالیت-هیات-مدیره-98-1.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 29 اسفندماه 1397	</td>
								<td>    1.83 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/97.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 29 اسفندماه 1396 	</td>
								<td>    1.5 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/m96-2.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 30 اسفندماه 1395 	</td>
								<td>  2.75 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/m-95-3.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>		گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 31 شهریورماه 1394 	</td>
								<td> 1.55 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/m-94-2.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
							<tr>
								<td>گزارش فعالیت هیات مدیره به مجمع عمومی عادی سالیانه سال مالی منتهی به 31 شهریورماه 1393 	</td>
								<td> 7.94 MB	</td>
								<td>
									<a href="~/Uploads/AuditReports/m93-2.pdf" target="_blank">
										<img src="~/MainWebSiteThem/img/icons8-pdf-96.png" style="height:25%;" width="40%;" />
									</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>