@page
@model ServiceHost.Pages.TendersModel
@{
}

<div class="body">

	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(../MainWebSiteThem/img/page-header/TendersHeader.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-10"><strong>مناقصات و مزایدات</strong> </h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid">
		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 p-0">
				<a href="https://tender.jpcomplex.com/#/Home/Default" target="_blank">
					<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/JamPic1.jpg" style="min-height: 315px;">
				</section>
				</a>
			</div>
			<div class="col-lg-6 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row m-0">
						<div class="col-half-section col-half-section-left">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp">
									<a href="https://tender.jpcomplex.com/#/Home/Default" target="_blank"
									   class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">  پتروشیمی جم</a></h4>
							</div>
							<div class="overflow-hidden mb-2">
								@*<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200"></p>*@
							</div>
							@*<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400"> </p>*@
						</div>
					</div>
				</section>
			</div>
		</div>




		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 order-2 order-lg-1 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row justify-content-end m-0">
						<div class="col-half-section col-half-section-right custom-text-align-right">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="https://misipcc.com/fa/notice.html?code=4492049139284145911" target="_blank" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">پتروشیمی مسجد سلیمان‌  </a></h4>
							</div>
							<div class="overflow-hidden mb-2">
								
							</div>
							
						</div>
					</div>
				</section>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 p-0">
				<a href="https://misipcc.com/fa/notice.html?code=4492049139284145911" target="_blank">
					<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/MasjedSoleimanPic1.jpg" style="min-height: 315px;">
				</section>
				</a>
			</div>
		</div>




		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 p-0">
				<a href="https://sabasteel.co/fa/tender/category/48" target="_blank">
					<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/SabaFooladPic1.jpg" style="min-height: 315px;">
				</section>
				</a>
			</div>
			<div class="col-lg-6 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row m-0">
						<div class="col-half-section col-half-section-left">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="https://sabasteel.co/fa/tender/category/48" target="_blank" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1"> صبا فولاد </a></h4>
							</div>
							<div class="overflow-hidden mb-2">
								
							</div>
							
						</div>
					</div>
				</section>
			</div>
		</div>


		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 order-2 order-lg-1 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row justify-content-end m-0">
						<div class="col-half-section col-half-section-right custom-text-align-right">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="https://www.apm-ir.com/fa-IR/DouranPortal/4937/page/%D9%85%D9%86%D8%A7%D9%82%D8%B5%D9%87-%D9%87%D8%A7" target="_blank" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1"> لوله سازی اهواز ‌  </a></h4>
							</div>
							<div class="overflow-hidden mb-2">
							</div>

						</div>
					</div>
				</section>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 p-0">
				<a href="https://www.apm-ir.com/fa-IR/DouranPortal/4937/page/%D9%85%D9%86%D8%A7%D9%82%D8%B5%D9%87-%D9%87%D8%A7" target="_blank">
					<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/LooleAhvazPic1-1.jpg" style="min-height: 315px;">
					</section>
				</a>
			</div>
		</div>

		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 p-0">
				<a href="https://oxinsteel.ir/providers/inquiry/tenders" target="_blank">
					<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/FooladOxinPic1.jpg" style="min-height: 315px;">
					</section>
				</a>
			</div>
			<div class="col-lg-6 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row m-0">
						<div class="col-half-section col-half-section-left">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="https://oxinsteel.ir/providers/inquiry/tenders" target="_blank" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1"> فولاد اکسین خوزستان  </a></h4>
							</div>
							<div class="overflow-hidden mb-2">
							</div>

						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 order-2 order-lg-1 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row justify-content-end m-0">
						<div class="col-half-section col-half-section-right custom-text-align-right">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="https://tpr.co.ir/?page_id=2987" target="_blank" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">   تراز پی ریز ‌  </a></h4>
							</div>
							<div class="overflow-hidden mb-2">
							</div>

						</div>
					</div>
				</section>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 p-0">
				<a href="https://tpr.co.ir/?page_id=2987" target="_blank">
					<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/TarazPeyPic1.jpg" style="min-height: 315px;">
					</section>
				</a>
			</div>
		</div>

		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 p-0">
				<a href="https://nirootaraz.ir/?page_id=1736" target="_blank">
					<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/NirooTarazPeyPic1.jpg" style="min-height: 315px;">
					</section>
				</a>
			</div>
			<div class="col-lg-6 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row m-0">
						<div class="col-half-section col-half-section-left">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="https://nirootaraz.ir/?page_id=1736" target="_blank" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">   نیرو تراز پی  </a></h4>
							</div>
							<div class="overflow-hidden mb-2">
							</div>

						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 order-2 order-lg-1 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row justify-content-end m-0">
						<div class="col-half-section col-half-section-right custom-text-align-right">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="https://nirooas.ir/inquiry/" target="_blank" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">    نیرو آتیه صبا  ‌  </a></h4>
							</div>
							<div class="overflow-hidden mb-2">
							</div>

						</div>
					</div>
				</section>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 p-0">
				<a href="https://nirooas.ir/inquiry/" target="_blank">
					<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../MainWebSiteThem/img/generic/NIrooAtieSabaPic1.jpg" style="min-height: 315px;">
					</section>
				</a>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col py-4">
		<hr class="solid">
	</div>
</div>
