@page
@model ServiceHost.Pages.VideosModel
@{
}


<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
	<div class="container">
		<div class="row">

			<div class="col-md-12 align-self-center p-static order-2 text-center">
				<h1 class="text-dark font-weight-bold text-8">فیلم ها</h1>

			</div>


		</div>
	</div>
</section>

<div class="container py-4">

	<div class="row">
		<div class="col">
			<div class="blog-posts">


				<article class="post post-large">
					<div class="post-image">
						<div class="embed-responsive embed-responsive-16by9">

							<iframe src="https://www.aparat.com/video/video/embed/videohash/CKwDF/vt/frame?titleShow=true&recom=self" width="640" height="360" allowfullscreen></iframe>

						</div>
					</div>

					<div class="post-date mt-1">
						<span class="day">1402</span>
						<span class="month">خرداد</span>
					</div>

					<div class="post-content">

						<h2 class="font-weight-semibold text-6 mb-2 mt-n1 pb-1"><a href="blog-post.html">دکتر زمان‌پور از تأمین مالی 4 همتی از عرضه قریب الوقوع صبافولاد خبر داد</a></h2>
					
					</div>
				</article>



				<article class="post post-large">
					<div class="post-image">
						<div class="embed-responsive embed-responsive-16by9">

							<iframe src="https://www.aparat.com/video/video/embed/videohash/2YdCS/vt/frame" width="640" height="360" allowfullscreen></iframe>

						</div>
					</div>

					<div class="post-date mt-1">
						<span class="day">1402</span>
						<span class="month">خرداد</span>
					</div>

					<div class="post-content">

						<h2 class="font-weight-semibold text-6 mb-2 mt-n1 pb-1"><a href="blog-post.html">دستاوردهای هلدینگ صباانرژی در دور دوم سفر رئیس جمهور به استان خوزستان</a></h2>

					</div>
				</article>






				<ul class="pagination float-right">
					<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
@*					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>*@
					<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
				</ul>

			</div>
		</div>

	</div>

</div>

<style>
	.h_iframe-aparat_embed_frame {
		position: relative;
	}

		.h_iframe-aparat_embed_frame .ratio {
			display: block;
			width: 100%;
			height: auto;
		}

		.h_iframe-aparat_embed_frame iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}</style>