@page
@model ServiceHost.Pages.SubGroups.OtherCompanies.iranyasaModel
@{
	ViewData["Title"] = "ایران یاسا تایر و رابر";
}

<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
		<ul>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/OtherCompanies/iranyasa/slider-inner15-01.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/OtherCompanies/iranyasa/logo15.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/OtherCompanies/iranyasa/slider-inner15-02.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/OtherCompanies/iranyasa/logo15.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
		</ul>
	</div>
</div>

<div class="container py-4">
	<div class="row pt-4 mt-5">
		<div class="col">
			<div class="row pt-2 clearfix">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="feature-box-icon">
							<i class="icon-calendar icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">تاریخ تاسیس</h4>
							<p class="mb-4">1345/08/07</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="feature-box-icon">
							<i class="icon-layers icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> نوع شرکت</h4>
							<p class="mb-4">سهامی عام</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-badge icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">حوزه فعالیت</h4>
							<p class="mb-4">تولید لاستیک و تیوب</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-chart icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">‌سال مالی</h4>
							<p class="mb-4"> 12/29</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-info icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> شماره ثبت</h4>
							<p class="mb-4">11051</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-check icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> وضعیت</h4>
							<p class="mb-4">فعال</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section class="section section-secondary border-0 py-0 m-0 appear-animation" data-appear-animation="fadeIn">
	<div class="container">
		<div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
			<div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
				<h2 class="font-weight-bold text-color-light text-7 mb-2 pb-1">تاریخچه شرکت	</h2>

				<p class="font-weight-light text-color-black text-2 mb-4 opacity-7">
					فعالیت شرکت، تحت پروانه بهره¬برداری شماره 30604 مورخ 13 مهرماه 1347 به استناد پروانه تأسیس شماره 51096 مورخ 19 اسفند 1342 به نام اتو پارت آغاز گردید. در تاریخ 7 آبان ماه 1347 نام شرکت به کارخانجات تولیدی و صنعتی ایران یاسا و بعد از آن در تاریخ 4 اردیبهشت ماه 1352 به شرکت ایران یاسا تایر و رابر (سهامی خاص) تغییر یافت. براساس مصوبه مجمع عمومی فوق¬العاده مورخ 24 آبان ماه 1374، شرکت به سهامی عام تبدیل و در تاریخ 2 شهریور 1382 نزد سازمان بورس و اوراق بهادار پذیرفته شد. محل اصلی شرکت در تهران است.
				</p>

			</div>
			<div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
				<img class="img-fluid box-shadow-3 my-2 border-radius" src="~/PICS/SubGroupSlides/OtherCompanies/iranyasa/pic-inner08-01-1.jpg" alt="">
			</div>
		</div>
	</div>
</section>


<section class="parallax section section-height-5 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/OtherCompanies/iranyasa/parallax-inner08-01-1.jpg">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">

				@*<h4 class="text-color-dark font-weight-normal text-6"><strong class="font-weight-extra-bold">گزارش هیئت مدیره در سال</strong> 1399</h4>*@

				@*<a href="~/PICS/SubGroupSlides/OtherCompanies/iranyasa/JAMreport1399.pdf" class="btn btn-outline btn-primary font-weight-bold text-1 px-4 btn-py-2">دانلود گزارش</a>*@
			</div>
		</div>
	</div>
</section>



<section class="section section-height-4 bg-color-grey-scale-1 m-0 border-0">
	<div class="container container-lg">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 pr-lg-4">
				<div class="row text-left justify-content-end">
					<div class="col-lg-7 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
						<h4 class="text-10  font-weight-bold mb-2 mt-5">ماموریت</h4>

					</div>
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/OtherCompanies/iranyasa/logo15.png" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-6 pl-lg-4">
				<div class="row">
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/OtherCompanies/iranyasa/pic-inner08-02-1.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
					<div class="col-lg-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
						@*<h4 class="text-3 text-color-primary font-weight-bold mb-2 mt-5">با ما کار کنید</h4>*@
						<p class="text-4 line-height-9">
							مأموریت شرکت طبق اساسنامه عبارت است از : الف-احداث، اداره، توسعه و تکمیل کارخانه به منظور تهیه و تولید انواع لاستیک و تیوب دوچرخه و موتورسیکلت و تولید انواع لاستیک و تیوب ماشین آلات و ادوات کشاورزی، وسائط نقلیه و فرآورده های لاستیکی دیگر و فروش محصولات مزبور در داخل و خارج از کشور. ب-احداث اداره، توسعه و تکمیل کارخانجات صنعتی دیگر که بطور مستقیم و غیرمستقیم با صنایع لاستیک مرتبط باشد و تهیه و تولید و فروش کالای مربوط به این قبیل صنایع. ج- اقدام به واردات و صادرات ماشین آلات و قطعات یدکی و مواد و محصولات ساخته شده و اقدام به ایجاد شعب یا اعطای نمایندگی به شرکت های داخلی و خارجی. د - مشارکت و سرمایه گذاری در سهام سایر شرکت ها.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						ترکیب سهامداری
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									نام سهامدار
								</th>
								<th>
									تعداد سهام
								</th>
								<th>
									درصد سهامداری
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>شرکت سرمایه گذاری صندوق بازنشستگی کشوری	</td>
								<td>172147181	</td>
								<td>29</td>
							</tr>
							<tr>
								<td>صندوق بازنشستگی کشوری	</td>
								<td>170969616	</td>
								<td>	28</td>
							</tr>
							<tr>
								<td>شرکت سرمایه گذاری نفت و گاز و پتروشیمی تأمین</td>
								<td>100436940</td>
								<td>17</td>
							</tr>
							<tr>
								<td>سایر سهامداران</td>
								<td>156446263</td>
								<td>26</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>
<hr class="solid my-5">


<section class="parallax section section-height-3 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/OtherCompanies/iranyasa/parallax-inner08-02-1.jpg">
	<div class="container py-2">

		<div class="row">
			<div class="col">

				<div class="row">
					<div class="col pb-3">
						<h4>محصولات و خدمات	</h4>

						<table class="table text-2 text-color-light">
							<thead>
								<tr>
									<th>
										گروه محصول
									</th>
									<th>
										واحد
									</th>
									<th>
										نام محصولات
									</th>
									<th>
										ظرفیت
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>تایر	</td>
									<td>تن	</td>
									<td>دوچرخه ای، موتوری، اسکوتری، کشاورزی</td>
									<td>1.6086</td>
								</tr>
								<tr>
									<td>تیوب	</td>
									<td>تن	</td>
									<td>نچرال ، بوتیل</td>
									<td>8.671</td>
								</tr>
								<tr>
									<td>سایر	</td>
									<td>تن	</td>
									<td>شیلنگ </td>
									<td>546</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>

	</div>
</section>


<section class="section section-scroll bg-light border-0 m-0" data-section-scroll-title="بخش 6" data-section-scroll-header-color="dark">
	<div class="container h-100 py-5 py-md-0">
		<div class="row align-items-center h-100">
			<div class="col">
				<div class="row pb-4 mb-5">
					<div class="col-lg-7">
						<div class="overflow-hidden mb-4">
							<h2 class="font-weight-bold text-10 mb-0 mt-2 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">
								مزایای رقابتی و افتخارات
							</h2>
						</div>
						<p class="line-height-9 text-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
							1- برند شناخته شده صنعت لاستیک در سطح کشور و کشورهای مجاور
						</p>

						<p class="line-height-9 text-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
							2- تولید انبوه 9 سایز جدید تایر
						</p>
						<p class="line-height-9 text-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
							3- اجرای پروژه توسعه تایر و تیوب دوچرخه ای و ویلچری
						</p>
						<p class="line-height-9 text-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
							4- انحصار در تولید
						</p>
					</div>
					<div class="col-lg-5">
						<img src="~/Pics/SubGroupSlides/OtherCompanies/iranyasa/pic-inner08-03-1.jpg" class="img-fluid mt-4 appear-animation" data-appear-animation="fadeIn" alt="">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>


<section class="section section-background section-scroll overlay overlay-show overlay-color-primary overlay-op-9 border-0 m-0" data-section-scroll-title="بخش 5" data-section-scroll-header-color="light" style="background-image: url(../../Pics/SubGroupSlides/OtherCompanies/iranyasa/pp2.jpg); background-size: cover; background-position: center;">
	<div class="container h-100 py-5 py-md-0">
		<div class="row align-items-center h-100">
			<div class="col">
				<div class="row">
					<div class="col text-center">
						<div class="overflow-hidden mb-5">
							<h2 class=" font-weight-bold text-10 pb-2 mt-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200"> پروژه‌ها   </h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">

						<div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-light nav-style-2 mb-0" data-plugin-options="{'items': 1, 'margin': 100, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 100, 'autoHeight': true}">
							<div>
								<div class="testimonial testimonial-style-2 mb-0">
									<div class="testimonial-author">
										<p>
											<strong class="font-weight-extra-bold text-color-primary text-6">
												احداث خط تولید تایرهای نسل دوم (تیوبلس) با ظرفیت تولید سالیانه 1،639 تن
											</strong>
										</p>
									</div>
									<blockquote>
										<p class="text-color-light text-3 line-height-9 mb-0">

											احداث خط تولید تایرهای نسل دوم (تیوبلس) با ظرفیت تولید سالیانه 1،639 تن
										</p>
									</blockquote>

								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="solid my-5">

<div id="googlemaps" class="google-map mt-0" style="width:100%">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12964.373518190787!2d51.18748312412571!3d35.674702645641595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfa6ec1d51297%3A0xa55eca77e712a758!2sIran%20Yasa%20Tire%20%26Rubber%20Co!5e0!3m2!1sen!2sde!4v1689374156856!5m2!1sen!2sde" width="800" height="600"
			style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="container">

	<div class="row py-4">
		<div class="col-12">

			<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<h4 class="mt-2 mb-1"><strong>اطلاعات</strong> تماس با ایران یاسا تایر و رابر</h4>
				<ul class="list list-icons list-icons-style-2 mt-2">
					<li class="line-height-9">
						<i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">آدرس:</strong>
						تهران، کیلومتر 12 اتوبان فتح، کیلومتر 2 جاده شهریار
					</li>
					<li class="line-height-9"><i class="fas fa-phone top-6"></i> <strong class="text-dark">تلفن:</strong> <span class="ltr-text">031-65607028</span></li>
					<li class="line-height-9"><i class="fas fa-envelope top-6"></i> <strong class="text-dark">ایمیل:</strong> <a href="mailto:info@iranyasa.ir">info@iranyasa.ir</a></li>
					<li class="line-height-9"><i class="fas fa-sitemap top-6"></i> <strong class="text-dark">وب سایت:</strong> <a href="www.iranyasa.ir">www.iranyasa.ir</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>
