@page
@model ServiceHost.Pages.SubGroups.OtherCompanies.sabaarmehModel
@{
	ViewData["Title"] = "صبا آرمه";
}

<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
		<ul>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/OtherCompanies/sabaarmeh/slider-inner16-01.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/OtherCompanies/sabaarmeh/logo16-01.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/OtherCompanies/sabaarmeh/slider-inner16-02.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/OtherCompanies/sabaarmeh/logo16-01.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
		</ul>
	</div>
</div>

<div class="container py-4">
	<div class="row pt-4 mt-5">
		<div class="col">
			<div class="row pt-2 clearfix">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="feature-box-icon">
							<i class="icon-calendar icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">تاریخ تاسیس</h4>
							<p class="mb-4">1385/05/14</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="feature-box-icon">
							<i class="icon-layers icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> نوع شرکت</h4>
							<p class="mb-4">سهامی عام</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-badge icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">حوزه فعالیت</h4>
							<p class="mb-4">ساختمانی</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-chart icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">‌سال مالی</h4>
							<p class="mb-4"> 09/30</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-info icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> شماره ثبت</h4>
							<p class="mb-4">277228</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-check icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> وضعیت</h4>
							<p class="mb-4">فعال</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section class="section section-secondary border-0 py-0 m-0 appear-animation" data-appear-animation="fadeIn">
	<div class="container">
		<div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
			<div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
				<h2 class="font-weight-bold text-color-light text-7 mb-2 pb-1">تاریخچه شرکت	</h2>

				<p class="font-weight-light text-color-black text-2 mb-4 opacity-7">
					شرکت صبا آرمه در تاریخ 1385/05/14 به صورت شرکت سهامی خاص تأسیس شده و طی شماره 277228 مورخ 1385/05/14 در اداره ثبت شرکتها و مالکیت صنعتی تهران به ثبت رسیده است. نام شرکت به استناد مصوبه مجمع عمومی فوق العاده مورخ 1385/07/10 از شرکت سرمایه گذاری پویندگان توانا به شرکت صبا آرمه تغییر یافته و مواد یک و دو اساسنامه شرکت بنا به مصوبات صورتجلسه فوق الذکر اصلاح گردیده است.
				</p>

			</div>
			<div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
				<img class="img-fluid box-shadow-3 my-2 border-radius" src="~/PICS/SubGroupSlides/OtherCompanies/sabaarmeh/pic-inner09-01.jpg" alt="">
			</div>
		</div>
	</div>
</section>


<section class="parallax section section-height-5 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/OtherCompanies/sabaarmeh/parallax-inner09-01.jpg">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">

				@*<h4 class="text-color-dark font-weight-normal text-6"><strong class="font-weight-extra-bold">گزارش هیئت مدیره در سال</strong> 1399</h4>*@

				@*<a href="~/PICS/SubGroupSlides/OtherCompanies/sabaarmeh/JAMreport1399.pdf" class="btn btn-outline btn-primary font-weight-bold text-1 px-4 btn-py-2">دانلود گزارش</a>*@
			</div>
		</div>
	</div>
</section>



<section class="section section-height-4 bg-color-grey-scale-1 m-0 border-0">
	<div class="container container-lg">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 pr-lg-4">
				<div class="row text-left justify-content-end">
					<div class="col-lg-7 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
						<h4 class="text-10  font-weight-bold mb-2 mt-5">ماموریت</h4>

					</div>
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/OtherCompanies/sabaarmeh/logo16-01.png" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-6 pl-lg-4">
				<div class="row">
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/OtherCompanies/sabaarmeh/pic-inner09-02.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
					<div class="col-lg-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
						@*<h4 class="text-3 text-color-primary font-weight-bold mb-2 mt-5">با ما کار کنید</h4>*@
						<p class="text-4 line-height-9">مأموریت شرکت طبق اساسنامه عبارت است از :</p>
						<p class="text-4 line-height-9"> سرمایه گذاری و مشارکت در امر احداث ساختمان های مسکونی، تجاری، اداری و صنعتی</p>
						<p class="text-4 line-height-9"> - مدیریت و نظارت بر اجرای ابنیه</p>
						<p class="text-4 line-height-9"> - تهیه و خرید و فروش زمین، ساختمان و مصالح ساختمانی</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						ترکیب سهامداری
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									نام سهامدار
								</th>
								<th>
									تعداد سهام
								</th>
								<th>
									درصد سهامداری
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>شرکت سرمایه گذاری صندوق بازنشستگی کشوری	</td>
								<td>19999960	</td>
								<td>100</td>
							</tr>
							<tr>
								<td>شرکت عمران و ساختمان تراز پی ریز	</td>
								<td>10	</td>
								<td>	0</td>
							</tr>
							<tr>
								<td>شرکت بازرگانی صندوق بازنشستگی کشوری</td>
								<td>10</td>
								<td>0</td>
							</tr>
							<tr>
								<td>شرکت گسترش تجارت پارس سبا</td>
								<td>10</td>
								<td>0</td>
							</tr>
							<tr>
								<td>شرکت نوآوران مدیریت سبا</td>
								<td>10</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>
<hr class="solid my-5">





<section class="section section-scroll bg-light border-0 m-0" data-section-scroll-title="بخش 6" data-section-scroll-header-color="dark">
	<div class="container h-100 py-5 py-md-0">
		<div class="row align-items-center h-100">
			<div class="col">
				<div class="row pb-4 mb-5">
					<div class="col-lg-7">
						<div class="overflow-hidden mb-4">
							<h2 class="font-weight-bold text-10 mb-0 mt-2 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">
								مزایای رقابتی و افتخارات
							</h2>
						</div>
						<p class="line-height-9 text-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
							دارایی و املاک با قابلیت نقدشوندگی بالا ، املاک بالقوه آماده جهت تعریف و شروع پروژه های جدید
						</p>


					</div>
					<div class="col-lg-5">
						<img src="~/Pics/SubGroupSlides/OtherCompanies/sabaarmeh/pic-inner09-03.jpg" class="img-fluid mt-4 appear-animation" data-appear-animation="fadeIn" alt="">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>


<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						پروژه ها 
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									نام پروژه
								</th>
								<th>
									محل پروژ] 
								</th>
								<th>
									نوع کاربری
								</th>
								<th>
									عرصه (متر مربع)
								</th>
								<th>
									اعیان(مترمربع)
								</th>
								<th>
									درصد مالکیت صبا آرمه
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>ولنجک	</td>
								<td>تهران	</td>
								<td>مسکونی</td>
								<td>2052	</td>
								<td>8959	</td>
								<td>52%</td>
							</tr>
							<tr>
								<td>وانیا	</td>
								<td>چالوس	</td>
								<td>مسکونی تجاری</td>
								<td>3334	</td>
								<td>13334	</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>-	</td>
								<td>سادات شهر	</td>
								<td>مسکونی اقامتی</td>
								<td>7547	</td>
								<td>-	</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>-	</td>
								<td>قشم	</td>
								<td>مسکونی اقامتی</td>
								<td>4909	</td>
								<td>1000	</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>صبا آتین	</td>
								<td>منطقه 22 تهران	</td>
								<td>مسکونی</td>
								<td>8251	</td>
								<td>40009	</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>APS 	</td>
								<td>معالی آباد شیراز	</td>
								<td>مسکونی</td>
								<td colspan="3">مالکیت صبا آرمه : تعداد 115 واحد از مجموع 646 واحد آپارتمان	</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>
<hr class="solid my-5">

<div id="googlemaps" class="google-map mt-0" style="width:100%">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d481.2031591051761!2d51.41348296786065!3d35.772033211757936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e076e903d1c3d%3A0xab042f5a2bbb888e!2sSaba%20Armeh%20Building!5e0!3m2!1sen!2sde!4v1689375118959!5m2!1sen!2sde" width="800" height="600"
			style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="container">

	<div class="row py-4">
		<div class="col-12">

			<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<h4 class="mt-2 mb-1"><strong>اطلاعات</strong> تماس با صبا آرمه</h4>
				<ul class="list list-icons list-icons-style-2 mt-2">
					<li class="line-height-9">
						<i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">آدرس:</strong>
						تهران، خیابان ولیعصر، بالاتر از تقاطع نیایش، خیابان شهید رحیمی پلاک 85
					</li>
					<li class="line-height-9"><i class="fas fa-phone top-6"></i> <strong class="text-dark">تلفن:</strong> <span class="ltr-text">021-22059559</span></li>
					<li class="line-height-9"><i class="fas fa-envelope top-6"></i> <strong class="text-dark">ایمیل:</strong> <a href="mailto:sabaarmeh1@yahoo.com">sabaarmeh1@yahoo.com</a></li>
					<li class="line-height-9"><i class="fas fa-sitemap top-6"></i> <strong class="text-dark">وب سایت:</strong> <a href="www.sabaarmeh.ir">www.sabaarmeh.ir</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>