@page
@model ServiceHost.Pages.SubGroups.GroupOfMetals.apmModel
@{
	ViewData["Title"] = "شرکت لوله سازی اهواز";
}


<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
		<ul>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/GroupOfMetals/apm/slider-inner14-01.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/GroupOfMetals/apm/logo14-01.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/GroupOfMetals/apm/slider-inner14-02.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/GroupOfMetals/apm/logo14-01.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
		</ul>
	</div>
</div>


<div class="container py-4">
	<div class="row pt-4 mt-5">
		<div class="col">
			<div class="row pt-2 clearfix">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="feature-box-icon">
							<i class="icon-calendar icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">تاریخ تاسیس</h4>
							<p class="mb-4">1345/11/15</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="feature-box-icon">
							<i class="icon-layers icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> نوع شرکت</h4>
							<p class="mb-4">سهامی عام</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-badge icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">حوزه فعالیت</h4>
							<p class="mb-4"> تولید و فروش لوله  </p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-chart icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">‌سال مالی</h4>
							<p class="mb-4"> 12/29</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-info icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> شماره ثبت</h4>
							<p class="mb-4">11254</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-check icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> وضعیت</h4>
							<p class="mb-4"> فعال  </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section section-secondary border-0 py-0 m-0 appear-animation" data-appear-animation="fadeIn">
	<div class="container">
		<div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
			<div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
				<h2 class="font-weight-bold text-color-light text-7 mb-2 pb-1">تاریخچه شرکت	</h2>

				<p class="font-weight-light text-color-black text-2 mb-4 opacity-7">
					شرکت لوله سازی اهواز (سهامی عام) در تاریخ 15/11/1345 با نام کارخانجات لوله سازی اهواز تاسیس و تحت شماره 11254 در اداره ثبت شرکت ها و مالکیت صنعتی تهران به ثبت رسیده و متعاقبا در تاریخ 27/6/1348 با تصویب مجمع عمومی به شرکت سهامی لوله سازی اهواز در 03/11/1374 بنام شرکت لوله سازی اهواز (سهامی خاص) تغییر نام داده است. در سال 1379و براساس مصوبه هیئت وزیران 100% شرکت در قبال رد دیون دولت به صندوق بازنشستگی کشوری(5/25%)، سازمان تامین اجتماعی(5/25) و صندوق 380 شرکت از "سهامی خاص" به "سهامی عام" تغییر یافته است.
				</p>

			</div>
			<div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
				<img class="img-fluid box-shadow-3 my-2 border-radius" src="~/PICS/SubGroupSlides/GroupOfMetals/apm/pic002-001.jpg" alt="">
			</div>
		</div>
	</div>
</section>


<section class="parallax section section-height-5 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/GroupOfMetals/apm/parallax-inner002-001.jpg">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">

				@*<h4 class="text-color-dark font-weight-normal text-6"><strong class="font-weight-extra-bold">گزارش هیئت مدیره در سال</strong> 1399</h4>*@

				@*<a href="~/PICS/SubGroupSlides/GroupOfMetals/apm/JAMreport1399.pdf" class="btn btn-outline btn-primary font-weight-bold text-1 px-4 btn-py-2">دانلود گزارش</a>*@
			</div>
		</div>
	</div>
</section>



<section class="section section-height-4 bg-color-grey-scale-1 m-0 border-0">
	<div class="container container-lg">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 pr-lg-4">
				<div class="row text-left justify-content-end">
					<div class="col-lg-7 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
						<h4 class="text-10  font-weight-bold mb-2 mt-5">ماموریت</h4>

					</div>
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/GroupOfMetals/apm/logo14-01.png" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-6 pl-lg-4">
				<div class="row">
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/GroupOfMetals/apm/pic002-003.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
					<div class="col-lg-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
						<h4 class="text-3 text-color-primary font-weight-bold mb-2 mt-5">به موجب ماده 4 اساسنامه، تولیدو فروش لوله از قطر 6تا56 اینچ و نیز تولید و فروش پوشش لوله ازقطر 2 الی 56 اینچ میباشد.</h4>
						<p class="text-4 line-height-9">
							این شرکت با تأمین لوله برای پروژه¬های مهمی همچون فاز1و2و 3و4و5 پروژۀ پارس جنوبی توانست توانایی خود را در برابر تقاضای شرکت های مهم داخلی وخارجی به اثبات برساند. این شرکت، با ظرفیت تولید سالانه600 هزار تن انواع لوله¬های فولادی، 4 میلیون متر مربع پوشش خارجی و ظرفیتی بالغ بر 3 میلیون و 500 هزار متر مربع پوشش داخلی انواع لوله و با انعقاد قراردادهای تأمین لوله با شرکتهای داخلی و خارجی همواره از بازوهای توانمند چرخۀ اقتصاد کشور بوده است.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						ترکیب سهامداری
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									نام سهامدار
								</th>
								<th>
									تعداد سهام
								</th>
								<th>
									درصد سهامداری
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>شرکت سرمایه گذاری صندوق بازنشستگی کشوری	</td>
								<td>1,049,217	</td>
								<td>40.5</td>
							</tr>
							<tr>
								<td>صندوق بازنشستگی کشوری	</td>
								<td>388,601	</td>
								<td>	15</td>
							</tr>
							<tr>
								<td>سرمایه گذاری صدر تامین	</td>
								<td>492,229	</td>
								<td>	19</td>
							</tr>
							<tr>
								<td>بازرگانی صندوق بازنشستگی کشوری	</td>
								<td>1	</td>
								<td>	0</td>
							</tr>
							<tr>
								<td>ارزش آفرینان تجارت صبا	</td>
								<td>2	</td>
								<td>	0</td>
							</tr>
							<tr>
								<td>صبا انرژی جهان گستر	</td>
								<td>2	</td>
								<td>	0</td>
							</tr>
							<tr>
								<td>صبا ارمه	</td>
								<td>2	</td>
								<td>	0</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>
<hr class="solid my-5">



<section class="parallax section section-height-3 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/GroupOfMetals/apm/parallax-inner002-002.jpg">
	<div class="container py-2">

		<div class="row">
			<div class="col">

				<div class="row">
					<div class="col pb-3">
						<h4>محصولات و خدمات	</h4>

						<table class="table text-2 text-color-light">
							<thead>
								<tr>
									<th>
										گروه محصول
									</th>
									<th>
										واحد
									</th>
									<th>
										ظرفیت
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>لوله	</td>
									<td>تن	</td>
									<td>308,000</td>
								</tr>
								<tr>
									<td>لوله اسپیرال	</td>
									<td>تن	</td>
									<td>50,000</td>
								</tr>
								<tr>
									<td>پوشش پلی اتیلن	</td>
									<td>متر مربع	</td>
									<td>2,400,000</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>

	</div>
</section>


<hr class="solid my-5">

<div id="googlemaps" class="google-map mt-0" style="width:100%">

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3408.818278226632!2d48.707783976155575!3d31.30876735756513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fc3dffd80aed829%3A0x9d31f7bc59264d1d!2sAhvaz%20Pipe%20Industrial%20Company!5e0!3m2!1sen!2sde!4v1689373170434!5m2!1sen!2sde" width="800" height="600"
			style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="container">

	<div class="row py-4">
		<div class="col-12">

			<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<h4 class="mt-2 mb-1"><strong>اطلاعات</strong> تماس با شرکت لوله سازی اهواز</h4>
				<ul class="list list-icons list-icons-style-2 mt-2">
					<li class="line-height-9">
						<i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">آدرس:</strong>
						اهواز، ناحیه صنعتی کارون
					</li>
					<li class="line-height-9"><i class="fas fa-phone top-6"></i> <strong class="text-dark">تلفن:</strong> <span class="ltr-text">061-32270230</span></li>
					<li class="line-height-9"><i class="fas fa-envelope top-6"></i> <strong class="text-dark">ایمیل:</strong> <a href="mailto:info@apm-ir.com">info@apm-ir.com</a></li>
					<li class="line-height-9"><i class="fas fa-sitemap top-6"></i> <strong class="text-dark">وب سایت:</strong> <a href="www.apm-ir.com">www.apm-ir.com</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>
