@page
@model ServiceHost.Pages.SubGroups.PetroleumProductsGroup.iranolModel
@{
    ViewData["Title"] = "شرکت نفت ایرانول";
}

<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
		<ul>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/PetroleumProductsGroup/iranol/slider-inner09-01.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/PetroleumProductsGroup/iranol/logo09-03.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
			<li data-transition="fade">

				<img src="~/PICS/SubGroupSlides/PetroleumProductsGroup/iranol/slider-inner09-02.jpg"
					 alt=""
					 data-bgposition="left center"
					 data-bgpositionend="center center"
					 data-bgfit="cover"
					 data-bgrepeat="no-repeat"
					 data-kenburns="on"
					 data-duration="9000"
					 data-ease="Linear.easeNone"
					 data-scalestart="110"
					 data-scaleend="100"
					 data-rotatestart="0"
					 data-rotateend="0"
					 data-offsetstart="0 0"
					 data-offsetend="0 0"
					 data-bgparallax="0"
					 class="rev-slidebg">

				<div class="tp-caption font-weight-extra-bold text-color-light secondary-font"
					 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="center"
					 data-voffset="['-80','-80','-80','-150']"
					 data-fontsize="['50','50','50','90']"
					 data-lineheight="['55','55','55','95']">
					<img src="~/PICS/SubGroupSlides/PetroleumProductsGroup/iranol/logo09-03.png"
						 alt=""
						 data-bgposition="left center"
						 data-bgpositionend="center center"
						 data-bgrepeat="no-repeat"
						 data-kenburns="on"
						 data-duration="9000"
						 data-ease="Linear.easeNone"
						 data-scalestart="110"
						 data-scaleend="100"
						 data-rotatestart="0"
						 data-rotateend="0"
						 data-offsetstart="0 0"
						 data-offsetend="0 0"
						 data-bgparallax="0">
				</div>

			</li>
		</ul>
	</div>
</div>


<div class="container py-4">
	<div class="row pt-4 mt-5">
		<div class="col">
			<div class="row pt-2 clearfix">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
						<div class="feature-box-icon">
							<i class="icon-calendar icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">تاریخ تاسیس</h4>
							<p class="mb-4">1384/09/11</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
						<div class="feature-box-icon">
							<i class="icon-layers icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> نوع شرکت</h4>
							<p class="mb-4">سهامی عام</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-badge icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">حوزه فعالیت</h4>
							<p class="mb-4">تولید روغن  </p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
						<div class="feature-box-icon">
							<i class="icon-chart icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2">‌سال مالی</h4>
							<p class="mb-4"> 12/29</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-info icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> شماره ثبت</h4>
							<p class="mb-4">195465</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
						<div class="feature-box-icon">
							<i class="icon-check icons text-color-primary"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-2"> وضعیت</h4>
							<p class="mb-4"> فعال  </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section section-secondary border-0 py-0 m-0 appear-animation" data-appear-animation="fadeIn">
	<div class="container">
		<div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
			<div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
				<h2 class="font-weight-bold text-color-light text-7 mb-2 pb-1">تاریخچه شرکت	</h2>

				<p class="font-weight-light text-color-black text-2 mb-4 opacity-7">
					شرکت پالایش روغن تهران (سهامی خاص) در تاریخ 11 آذر ماه 1381 تحت شماره 195465 در اداره ثبت شرکتهای تهران ثبت گردید. نام شرکت، طبق مصوبات مجمع عمومی فوق العاده در تاریخ 19/01/1382 به شرکت نفت ایران زمین و سپس طی مصوبه مجمع عمومی فوق العاده مورخ 21/04/1382 به شرکت نفت ایرانول تغییر نمود، همچنین در تاریخ 17/06/1387 به استناد صورتجلسه مجمع عمومی فوق العاده مورخ 23/04/1387 نوع شرکت از سهامی خاص به سهامی عام تبدیل و در تاریخ 22/09/1391 در سازمان بورس و اوراق بهادار تهران پذیرش و در مورخ 15/11/1391 در گروه فرآورده های نفتی ، کک و سوخت هسته ای با نماد شرانل درج شده و سهام آن برای اولین بار در تاریخ 25/11/1391 در فرابورس مورد معامله قرار گرفته وکلیه تغییرات مزبور همراه با اساسنامه در اداره ثبت شرکتها به ثبت رسید. مرکز اصلی شرکت در تهران ملاصدرا شماره 197 واقع شده است.
				</p>

			</div>
			<div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
				<img class="img-fluid box-shadow-3 my-2 border-radius" src="~/PICS/SubGroupSlides/PetroleumProductsGroup/iranol/pic-inner07-01.jpg" alt="">
			</div>
		</div>
	</div>
</section>


<section class="parallax section section-height-5 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/PetroleumProductsGroup/iranol/parallax-inner07-01.jpg">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">

				@*<h4 class="text-color-dark font-weight-normal text-6"><strong class="font-weight-extra-bold">گزارش هیئت مدیره در سال</strong> 1399</h4>*@

				@*<a href="~/PICS/SubGroupSlides/PetroleumProductsGroup/iranol/JAMreport1399.pdf" class="btn btn-outline btn-primary font-weight-bold text-1 px-4 btn-py-2">دانلود گزارش</a>*@
			</div>
		</div>
	</div>
</section>



<section class="section section-height-4 bg-color-grey-scale-1 m-0 border-0">
	<div class="container container-lg">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 pr-lg-4">
				<div class="row text-left justify-content-end">
					<div class="col-lg-7 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
						<h4 class="text-10  font-weight-bold mb-2 mt-5">ماموریت</h4>

					</div>
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/PetroleumProductsGroup/iranol/logo09-03.png" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-6 pl-lg-4">
				<div class="row">
					<div class="col-lg-8">
						<img src="~/Pics/SubGroupSlides/PetroleumProductsGroup/iranol/pic-inner07-02.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
					</div>
					<div class="col-lg-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
						@*<h4 class="text-3 text-color-primary font-weight-bold mb-2 mt-5">با ما کار کنید</h4>*@
						<p class="text-4 line-height-9">
							موضوع فعالیت شرکت اصلی کلیه عملیات بازرگانی و صنعتی و خدماتی مرتبط با انواع روغن های موتور و صنعتی، تولید و فروش محصولات و نیز واردات و صادرات مربوط به کلیه فرآورده های روغن موتور وصنعتی. و موضوع فعالیت شرکت فرعی در زمینه های تولید و فروش انواع فرآورده های روغنهای صنعتی، گریش، پاک کننده های صنعتی و انواع مواد شیمیایی و انجام خدمات بازرگانی بین المللی صادرات و واردات
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="container py-2">

	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col pb-3">
					<h4>
						ترکیب سهامداری
					</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									نام سهامدار
								</th>
								<th>
									تعداد سهام
								</th>
								<th>
									درصد سهامداری
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>شرکت سرمایه گذاری نفت و گاز و پتروشیمی تامین (تاپیکو)	</td>
								<td>987241226	</td>
								<td>49</td>
							</tr>
							<tr>
								<td>شرکت سرمایه گذاری صندوق بازنشستگی کشوری	</td>
								<td>760838241	</td>
								<td>	37.58</td>
							</tr>
							<tr>
								<td>شرکت خدمات گستر صبا انرژی</td>
								<td>5665374</td>
								<td>-</td>
							</tr>
							<tr>
								<td>سایر سهامداران</td>
								<td>246255159</td>
								<td>13.42</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

</div>
<hr class="solid my-5">



<section class="parallax section section-height-3 section-parallax m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="../../Pics/SubGroupSlides/PetroleumProductsGroup/iranol/parallax-inner07-02.jpg">
	<div class="container py-2">

		<div class="row">
			<div class="col">

				<div class="row">
					<div class="col pb-3">
						<h4>محصولات و خدمات	</h4>

						<table class="table text-2 text-color-light">
							<thead>
								<tr>
									<th>
										گروه محصول
									</th>
									<th>
										واحد
									</th>
									<th>
										نام محصولات
									</th>
									<th>
										ظرفیت
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>روانکار 	</td>
									<td>متر مکعب	</td>
									<td>انواع روانکار </td>
									<td>505.000</td>
								</tr>
								<tr>
									<td>روانکار 	</td>
									<td>متر مکعب	</td>
									<td>پارافین وکس </td>
									<td>72.000</td>
								</tr>
								<tr>
									<td>روانکار 	</td>
									<td>متر مکعب	</td>
									<td>ضد یخ </td>
									<td>3.000</td>
								</tr>
								<tr>
									<td>روانکار 	</td>
									<td>متر مکعب	</td>
									<td>گریس </td>
									<td>604</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>

	</div>
</section>


<hr class="solid my-5">

<div id="googlemaps" class="google-map mt-0" style="width:100%">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.7661300910763!2d51.391684276294!3d35.756552625831795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e06fccec884a1%3A0xd630c428c7f752d7!2sIranol%20Company!5e0!3m2!1sen!2sde!4v1689367875195!5m2!1sen!2sde"
			width="800" height="600" style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="container">

	<div class="row py-4">
		<div class="col-12">

			<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<h4 class="mt-2 mb-1"><strong>اطلاعات</strong> تماس با شرکت نفت پاسارگاد</h4>
				<ul class="list list-icons list-icons-style-2 mt-2">
					<li class="line-height-9">
						<i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">آدرس:</strong>
						جاده قدیم قم، باقر شهر، پالایشگاه تهران
					</li>
					<li class="line-height-9"><i class="fas fa-phone top-6"></i> <strong class="text-dark">تلفن:</strong> <span class="ltr-text">021-55225522</span></li>
					<li class="line-height-9"><i class="fas fa-envelope top-6"></i> <strong class="text-dark">ایمیل:</strong> <a href="mailto:info@iranol.ir">info@iranol.ir</a></li>
					<li class="line-height-9"><i class="fas fa-sitemap top-6"></i> <strong class="text-dark">وب سایت:</strong> <a href="www.iranol.ir">www.iranol.ir</a></li>
				</ul>
			</div>
		</div>

	</div>

</div>
